body {
  background-color: #212121;
  padding: 10px;
}

#main {
  background-color: #555555;
  width: 50vw;
  height: auto;
  margin: auto;
  min-width: 300px;
}

#top_bar {
  width: 90%;
  margin: auto;
  display: flex;
  padding: 10px;
}

#task_input {
  width: 60%;
}

#task_confirm {
  width: same-as-height;
}

#task_archived {
  width: 30%;
  display: flex;
  align-content: center;
}

#task_archived p{
  line-height: 0;
  font-size: 10px;
  margin-left: auto;
}

.list_item{
  display: flex;
  color: #212121;
}

.archived_item{
  display: flex;
  color: #424242;
}

h3{
  margin: 0px;
  line-height: 20px;
}

.left{
  margin-left: auto;
}

.right {
  margin-right: 0px;
}

#items_list{
  visibility: visible;
}

#archived_list{
  visibility: hidden;
}